body {
    font-family: 'Inter', sans-serif;
}
.tab-active {
    background-color: #3b82f6;
    color: white;
}
.tab-inactive {
    background-color: #374151;
    color: #d1d5db;
}
.glass-effect {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.file-drop-zone {
    border: 2px dashed #4b5563;
    transition: all 0.3s ease;
}

#fileList {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
}

#fileList::-webkit-scrollbar {
    width: 6px;
}

#fileList::-webkit-scrollbar-track {
    background: transparent;
}

#fileList::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 3px;
}

#upload-icon, #file-icon, #folder-icon {
    fill: none
}

#eye-icon {
    fill: #4b5563;
}

#copy-icon, #eye-off-icon {
    fill: white;
}

.file-drop-zone.dragover {
    border-color: #3b82f6;
    background-color: rgba(59, 130, 246, 0.1);
}

.mode-btn-active {
    background-color: #4f46e5;
    color: white;
}
.mode-btn-inactive {
    background-color: transparent;
    color: #9ca3af;
}

.remove-button {
    color: #9ca3af;
    font-weight: bold;
    padding: 0 8px;
    font-size: 18px;
    transform: translateY(-1px);
}

.remove-button:hover {
    color: inherit;
}

.file-name {
    width: 90%;
    text-align: left;
}